/* Body Styling */
body {
    margin: 0;
    padding: 0;
    background-color: #111;
    color: white;
    font-family: "Geo", serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Centered Container */
  .auth-container {
    height: 630px;
    width: 400px;
    padding: 20px;
    background: #000;
    border: solid 1px white;
    text-align: left;
  }
  
  /* Headings */
  .form-group h2 {
    color: #e5062f;
    text-align: flex-start;
    font-size: 40px;
    margin-top: 10px;
  }
  
  /* Labels and Inputs */
  .form-group label {
    display: block;
    margin-top: 2px;
    font-size: 18px;
  }
  
  input[type="email"],
  input[type="password"],
  input[type="text"] {
    width: 95%;
    height: 50px;
    padding: 0px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #222;
    color: #fff;
  }
  
  input::placeholder {
    color: #ffffff;
  }
  
  
/* Radio Group Container */
.radio-group {
  display: flex;
  justify-content: center; /* Center the boxes */
  gap: 20px; /* Space between boxes */
  /* margin: 15px 0; */
}

/* Hide Native Radio Input */
.radio-group input[type="radio"] {
  display: none;
}

/* Box Styling (Default) */
.radio-group .box {
  width: 150px;
  height: 50px;
  background-color: #000; /* Default black background */
  color: #ffffff; /* Default white text */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Checked State - Red Background */
.radio-group input[type="radio"]:checked + .box {
  
  color: #e5062f; /* White text */
  border-color: #e5062f; /* Red border */
  transform: scale(1.05); /* Slight scale effect */
}

/* Hover Effect */
.radio-group .box:hover {
  /* background-color: #b90324; */
  color: #e5062f;
  border: 1px solid #e5062f; /* Red border */
  transition: all 0.3s ease;
}
  /* Button */
  button {
    width: 100%;
    height: 56px;
    padding: 10px;
    background-color: #000;
    color: #e5062f;
    border: 1px solid #e5062f;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 13px;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add smooth transitions */

  }
  
  button:hover {
    background-color: #b90324;
    color: #000;
  }
  
  /* Link Switching */
  p {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
  }
  
  .switch-link {
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
  }

  .switch-link :hover {
    color: #e5062f;

  }