.add-game-container-admin {
    width: 90vw;
    margin: 20px auto;
    margin-top: 300px;
    padding: 20px;
    background-color: #111;
    /* border-radius: 10px; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .add-game-title-admin {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
  }
  
  .add-game-form-admin {
    display: flex;
    justify-content: space-between;
  }
  
  .left-section-admin,
  .right-section-admin {
    width: 48%;
  }
  
  .form-group-admin {
    margin-bottom: 20px;
  }
  
  .input-admin,
  .textarea-admin {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .textarea-admin {
    height: 100px;
    resize: none;
  }
  
  .upload-box-admin {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
  }
  
  .add-button-admin,
  .toggle-input-button-admin,
  .submit-button-admin {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-button-admin:hover,
  .toggle-input-button-admin:hover,
  .submit-button-admin:hover {
    background-color: #333;
  }
  
  .dynamic-input-admin {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }